<div class="about-view animated fadeInRight">

	<back-button-component></back-button-component>
	<h1>Om oss</h1>

	<div class="row-fluid">
		<div class="span12 well">
			<p>Vi ønsker å skape debatt rundt IKTs posisjon i utdanningen og bidra til å skape en ny delingskultur!</p>

			<p>Vi tilbyr studenter og forelesere et brukervennlig og moderne verktøy for å holde styr på frister, forelesningsnotater, timeplaner, oppgavelevering og mye mer. Skoler får en innovativ måte å profilere seg på, samtidig som at de bidrar til å spre kunnskap på en helt ny måte.</p>
		</div>
	</div>

</div>