<div class="contact-view animated fadeInRight">

	<back-button-component></back-button-component>
	<h1>Kontakt oss</h1>
	
	<div class="row-fluid">
		<div class="span12 well">

			<p>For pressehendvendelser, foredrag eller support, kontakt: <a href="mailto:mail@studentportalen.no">mail@studentportalen.no</a></p>
			
			<p>Er det noe du savner? Legg inn en forespørsel på: 
				<a href="http://studentportalen.uservoice.com/" target="_blank">studentportalen.uservoice.com</a>
			</p>
		</div>
	</div>


</div>