<div class="floating-panel-component">
	<div class="scroll-wrapper">
		<div class="panel-thumbnails-wrapper">
			
			<ul class="panel-thumbnails">

				<li class="animated fadeInRight panel-icon">
					<!-- TODO: Needs to be changed to Config.baseUrl-->
					<a href="{{homeButton.link}}" ng-click="closePanel()">
						<span class="unselectable content">
							<img src="http://static.studentportalen.no/images/ico-moon/home_white.png" width="30px" height="30px" alt="">
							<div class="title">{{homeButton.title}}</div>
						</span>
					</a>
				</li>			
				<li ng-repeat="panel in panels" class="animated fadeInRight panel-icon" ng-class="{'active': (currentPanel === panel)}" ng-show="panel.isVisible()">
					<a ng-click="togglePanel(panel)">
						<span class="unselectable content">
							<img ng-src="{{panel.getIcon()}}" width="30px" height="30px" alt="">
							<div class="title">{{panel.getTitle()}}</div>
							<span class="badge badge-important" ng-show="panel.getBadge()">{{panel.getBadge()}}</span>
						</span>
					</a>
				</li>

			</ul>
			
		</div>

		<div class="sticky-bottom">
			<div class="animated fadeInRight logout-button panel-icon" ng-show="Authentication.isLoggedIn()">
				<a ng-click="Authentication.logOff()" title="{{logOutButton.title}}">
					<span class="unselectable content">
						<img ng-src="{{logOutButton.icon}}" width="30px" height="30px" alt="">
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="content-panel-wrapper {{currentPanel.getClass()}}" ng-class="{'open': currentPanel && currentPanel.isVisible()}" ng-animate="'fade'">
		<div class="content-panel" ng-include src="currentPanel.getTemplateUrl()" ng-animate="'panelAnimation'"></div>
	</div>
</div>