<div class="navbar footer-component">
	<!-- <twitter-feed-component class="span5"></twitter-feed-component> -->
	     
	<div class="navbar-inner floating-panel-left-margin">
		<div class="container">
		
			<a class="brand" href="#/">
				<img class="small-logo visible-phone" src="/images/logo_icon.png" alt="" width="25px" height="auto">
				<img class="large-logo hidden-phone" src="/images/logo_full.png" alt="" width="200px" height="auto">
			</a>
			

			<section role="navigation">
		     	<ul class="nav">
		     		<li><a href="#/about">Om oss</a></li>
		     		<li><a href="#/faq">FAQ</a></li>
		     		<li><a href="http://blogg.studentportalen.no" target="_blank">Blogg</a></li>
		     		<li><a href="#/contact">Kontakt oss</a></li>
		     	</ul>	
			</section>
			
			<ul class="nav find-us pull-right">
		     	<li>
					<a href="https://www.facebook.com/studentportalen.no" target="_blank">
						<img src="//static.studentportalen.no/images/ico-moon/facebook.png" alt="Facebook">
					</a>
				</li>	
		     	<li>
					<a href="https://twitter.com/studentportalno" target="_blank">
						<img src="//static.studentportalen.no/images/ico-moon/twitter.png" alt="Twitter">
					</a>
				</li>
				<li>
					<a href="http://www.linkedin.com/company/2833396?trk=tyah" target="_blank">
						<img src="//static.studentportalen.no/images/ico-moon/linkedin.png" alt="Linkedin">
					</a>
				</li>
			</ul>
		</div>
	</div>
					
			<!-- <google-maps-component></google-maps-component> -->
		
</div>